[tool.uv.sources]
{%- if 'lab-recorder-python' in include_deps %}
lab-recorder-python = { path = "../lab-recorder-python", editable = true }
{%- endif %}
{%- if 'whisper-timestamped' in include_deps %}
whisper-timestamped = { path = "../whisper-timestamped", editable = true }
{%- endif %}
{%- if 'phopylslhelper' in include_deps %}
phopylslhelper = { path = "../PhoPyLSLhelper", editable = true }
{%- endif %}
{%- if 'phopymnehelper' in include_deps %}
phopymnehelper = { path = "../PhoPyMNEHelper", editable = true }
{%- endif %}
{%- if 'phopyqthelper' in include_deps %}
phopyqthelper = { path = "../phopyqthelper", editable = true }
{%- endif %}
{%- if 'pyphoplacecellanalysis' in include_deps %}
pyphoplacecellanalysis = { path = "../pyPhoPlaceCellAnalysis", editable = true }
{%- endif %}
{%- if 'neuropy' in include_deps %}
neuropy = { path = "../NeuroPy", editable = true }
{%- endif %}
{%- if 'pyphocorehelpers' in include_deps %}
pyphocorehelpers = { path = "../pyPhoCoreHelpers", editable = true }
{%- endif %}
